.color-menu{
    background-color: rgb(109, 44, 1);
}

body{
    background-color: rgb(167, 69, 4);
}

.imagenLogo{
width: 30%;
}

.subtituloColor{
    color:black;
    margin: 10px;
}

#color{
    color:red;
}

.linkMasInfo{
text-decoration: none;
color: black
}

.colordiv{
    background-color: rgb(167, 69, 4);
}

.btn-color{
    background-color: black;
    color: white;
}